@mixin bg-no-repeat-center($bg-size) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $bg-size;
}

body, html, .container-fluid {
    height: 100%;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: lightgray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    opacity: 0.7;
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

// timeline
$border-color: rgba(black, .3);

.timeline-item {
	padding: 2em 1em .1em 2em;
	position: relative;
    color: rgba(black, .7);
    margin-left: 10px;
    border-left: 2px solid $border-color;
    
    p {
        font-size: .8em;
    }
    
    // date
	&::before {
		content: attr(date-from) " to " attr(date-to);
		position: absolute;
		left: 2em;
		font-weight: bold;
		top: 1em;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: .7em;
	}

    // circles
	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -6px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: white;
	}
}

.skill-img {
    height: 100px;
    margin-bottom: 20px;
    @include bg-no-repeat-center(contain);
}